[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Madgwick-filter-cpp-"]
	path = Madgwick-filter-cpp-
	url = https://github.com/Alexandr4702/Madgwick-filter-cpp-.git
